In [1]:
from read_data import read_enhanced_dataset
import pandas as pd

In [2]:
df = read_enhanced_dataset()

In [3]:
df

,ID,Caracteristicas,Habitaciones,Aseos,Terraza,Piscina,Garaje,Precio,Metros,CodigoPostal,...,PrecioM2,CUDIS,RentaBrutaHogar,RentaBrutaPersona,poblacion_2023,%_servicios,densidad_inm_m2,%_agricultura,%_industria,%_construccion
0,116893306,Apartment,1,1,0,0,1,139000,40,25530,...,3475.000000,25243,40182.000000,16694.000000,5740,83.5,25.1,0.4,3.2,13.0
1,118596151,Apartment,3,1,0,0,0,74000,68,43205,...,1088.235294,43123,32367.250000,12348.250000,108535,80.1,968.1,1.6,11.1,7.2
2,118720927,House,4,2,1,0,0,228000,178,43540,...,1280.898876,43136,34605.666667,14264.333333,15329,75.4,226.8,8.1,9.8,6.7
3,120037507,Apartment,2,1,1,1,1,192300,75,43300,...,2564.000000,43092,32511.666667,13705.222222,13682,66.2,262.1,9.6,9.0,15.2
4,121155231,House,4,2,1,0,0,143200,134,43412,...,1068.656716,43147,41662.000000,16834.000000,632,45.4,23.1,36.1,4.6,13.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68223,162446507,Apartment,2,2,1,0,0,175000,89,08242,...,1966.292135,08113,44261.466667,17845.133333,78570,80.7,963.9,0.5,13.4,5.4
68224,162446510,Apartment,3,2,1,0,0,106000,70,08670,...,1514.285714,08141,40101.200000,16255.800000,6161,61.5,38.3,4.4,19.6,14.5
68225,162446526,Apartment,4,1,0,0,0,125000,86,43001,...,1453.488372,43148,40861.866667,16366.600000,138326,87.2,1203.1,0.4,7.6,4.8
68226,162446537,Apartment,4,3,0,0,0,477000,170,08201,...,2805.882353,08187,55412.461538,22014.615385,217968,83.4,2471.9,0.1,9.8,6.6
68227,162446552,Apartment,3,2,1,0,0,385000,76,08850,...,5065.789474,08089,54346.777778,20316.222222,47498,73.4,659.1,0.4,17.9,8.3

In [4]:

dataframes = []

for i in range(1, 10):
    file_name = f"data/microscore/output_{i}.csv"  
    try:
        df_1 = pd.read_csv(file_name)  
        dataframes.append(df_1)       
    except FileNotFoundError:
        print(f"Fichero {file_name} no encontrado")
    except Exception as e:
        print(f"Error cargando {file_name}: {e}")

if dataframes:
    combined_df = pd.concat(dataframes, ignore_index=True)
    print("Correcto")
else:
    print("Error")

All files successfully loaded and concatenated.

In [5]:
combined_df=combined_df[['ID', 'University_Distance', 'School_Distance', 'Kindergarten_Distance',
       'City Center_Distance', 'Supermarket_Distance', 'Bakery_Distance',
       'Hospital_Distance', 'Pharmacy_Distance', 'Restaurant_Distance',
       'Café_Distance', 'Park_Distance', 'Gym_Distance',
       'Movie Theater_Distance', 'Theater_Distance', 'Shopping Mall_Distance',
       'Bus Stop_Distance', 'Metro Station_Distance']]

In [6]:
combined_df

,ID,University_Distance,School_Distance,Kindergarten_Distance,City Center_Distance,Supermarket_Distance,Bakery_Distance,Hospital_Distance,Pharmacy_Distance,Restaurant_Distance,Café_Distance,Park_Distance,Gym_Distance,Movie Theater_Distance,Theater_Distance,Shopping Mall_Distance,Bus Stop_Distance,Metro Station_Distance
0,162446552,3.276043,0.465133,1.195428,10.040043,0.254074,0.526573,1.373501,0.279883,0.153583,0.284157,0.383711,0.481359,0.668264,0.578408,0.601193,0.206935,5.357419
1,162446537,1.366276,0.114196,0.922980,1.292868,0.059189,0.556545,0.876678,0.065772,0.217367,0.144003,0.013965,0.864493,0.814499,0.468835,0.603903,0.140487,11.392745
2,162446526,0.810700,0.100207,0.370870,0.600710,0.017144,0.069661,0.479052,0.009364,0.062240,0.012217,0.303000,0.121583,0.788004,0.235520,0.806612,0.080356,NaN
3,162446353,1.023144,0.371023,0.828824,NaN,0.155762,0.683107,0.589901,0.161770,0.111690,0.537937,0.175242,1.097224,0.541208,0.948660,2.123765,0.127473,NaN
4,162446510,18.424905,0.512796,0.436687,NaN,0.307196,0.395743,8.877550,0.393559,0.402399,0.497550,0.244767,4.058155,19.626584,1.259427,19.764990,0.510420,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85282,160692350,0.304266,0.104422,0.166657,0.902987,0.258920,0.486086,0.387207,0.185125,0.151838,0.146530,0.105883,0.293991,1.266000,0.155194,5.703364,0.219971,NaN
85283,160943133,7.272075,0.407445,0.433460,6.734808,4.768303,5.622156,7.017602,0.580627,0.432356,4.679508,0.587953,4.880611,6.330903,5.651369,10.813973,0.400276,NaN
85284,160458395,1.199114,0.255770,0.178450,1.214214,0.116685,0.340965,0.484232,0.039990,0.072536,0.036704,0.141000,0.238265,0.683171,1.170253,5.378793,0.055899,NaN
85285,156802611,0.548592,0.124229,0.236240,1.090353,0.032467,0.113765,0.661403,0.101023,0.078581,0.070897,0.249947,0.182821,1.168900,0.665761,5.273624,0.107288,NaN
85286,146301070,0.867889,0.104006,0.107447,1.062289,0.019354,0.023251,0.206421,0.076401,0.068912,0.012069,0.203295,0.106463,0.752143,1.027226,5.300652,0.102616,NaN

In [7]:
relevance_weights = {
    "University_Distance": 8,
    "School_Distance": 10,
    "Kindergarten_Distance": 8,
    "City Center_Distance": 10,
    "Supermarket_Distance": 10,
    "Bakery_Distance": 5,
    "Hospital_Distance": 10,
    "Pharmacy_Distance": 8,
    "Restaurant_Distance": 5,
    "Café_Distance": 5,
    "Park_Distance": 5,
    "Gym_Distance": 3,
    "Movie Theater_Distance": 2,
    "Theater_Distance": 2,
    "Shopping Mall_Distance": 7,
    "Bus Stop_Distance": 8,
    "Metro Station_Distance": 10,
}

In [8]:
def compute_score(row):
    total_score = 0
    for feature, weight in relevance_weights.items():
        if feature in row.index:
            distance = row[feature]
            if pd.isnull(distance):  
                feature_score = 0
            else:
                # Calcular puntuacion
                feature_score = weight * (0.8 ** max(distance, 0))
            total_score += feature_score
    return total_score

# Apply the scoring function to each row
combined_df['Score'] = combined_df.apply(compute_score, axis=1)

In [9]:
combined_df

,ID,University_Distance,School_Distance,Kindergarten_Distance,City Center_Distance,Supermarket_Distance,Bakery_Distance,Hospital_Distance,Pharmacy_Distance,Restaurant_Distance,Café_Distance,Park_Distance,Gym_Distance,Movie Theater_Distance,Theater_Distance,Shopping Mall_Distance,Bus Stop_Distance,Metro Station_Distance,Score
0,162446552,3.276043,0.465133,1.195428,10.040043,0.254074,0.526573,1.373501,0.279883,0.153583,0.284157,0.383711,0.481359,0.668264,0.578408,0.601193,0.206935,5.357419,85.902056
1,162446537,1.366276,0.114196,0.922980,1.292868,0.059189,0.556545,0.876678,0.065772,0.217367,0.144003,0.013965,0.864493,0.814499,0.468835,0.603903,0.140487,11.392745,95.232219
2,162446526,0.810700,0.100207,0.370870,0.600710,0.017144,0.069661,0.479052,0.009364,0.062240,0.012217,0.303000,0.121583,0.788004,0.235520,0.806612,0.080356,NaN,99.209423
3,162446353,1.023144,0.371023,0.828824,NaN,0.155762,0.683107,0.589901,0.161770,0.111690,0.537937,0.175242,1.097224,0.541208,0.948660,2.123765,0.127473,NaN,84.648777
4,162446510,18.424905,0.512796,0.436687,NaN,0.307196,0.395743,8.877550,0.393559,0.402399,0.497550,0.244767,4.058155,19.626584,1.259427,19.764990,0.510420,NaN,62.680003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85282,160692350,0.304266,0.104422,0.166657,0.902987,0.258920,0.486086,0.387207,0.185125,0.151838,0.146530,0.105883,0.293991,1.266000,0.155194,5.703364,0.219971,NaN,94.283186
85283,160943133,7.272075,0.407445,0.433460,6.734808,4.768303,5.622156,7.017602,0.580627,0.432356,4.679508,0.587953,4.880611,6.330903,5.651369,10.813973,0.400276,NaN,54.882425
85284,160458395,1.199114,0.255770,0.178450,1.214214,0.116685,0.340965,0.484232,0.039990,0.072536,0.036704,0.141000,0.238265,0.683171,1.170253,5.378793,0.055899,NaN,92.997789
85285,156802611,0.548592,0.124229,0.236240,1.090353,0.032467,0.113765,0.661403,0.101023,0.078581,0.070897,0.249947,0.182821,1.168900,0.665761,5.273624,0.107288,NaN,94.163211
85286,146301070,0.867889,0.104006,0.107447,1.062289,0.019354,0.023251,0.206421,0.076401,0.068912,0.012069,0.203295,0.106463,0.752143,1.027226,5.300652,0.102616,NaN,95.270934

In [10]:
combined_df["ID"] = combined_df["ID"].astype("str")

In [11]:
result_df = df.merge(combined_df, how='left', on='ID')
result_df

,ID,Caracteristicas,Habitaciones,Aseos,Terraza,Piscina,Garaje,Precio,Metros,CodigoPostal,...,Restaurant_Distance,Café_Distance,Park_Distance,Gym_Distance,Movie Theater_Distance,Theater_Distance,Shopping Mall_Distance,Bus Stop_Distance,Metro Station_Distance,Score
0,116893306,Apartment,1,1,0,0,1,139000,40,25530,...,0.113629,0.171750,0.337545,7.837778,0.116297,18.645668,14.350473,0.087822,NaN,73.963782
1,118596151,Apartment,3,1,0,0,0,74000,68,43205,...,0.063449,0.064273,0.127514,0.074494,7.356330,0.112899,0.367176,0.101244,NaN,99.675809
2,118720927,House,4,2,1,0,0,228000,178,43540,...,0.158254,0.305499,0.085610,0.661545,10.382305,10.753927,0.662093,0.134895,NaN,63.284678
3,118720927,House,4,2,1,0,0,228000,178,43540,...,0.158254,0.305499,0.085610,0.661545,10.382305,10.753927,0.662093,0.134895,NaN,63.284678
4,120037507,Apartment,2,1,1,1,1,192300,75,43300,...,1.886172,2.049477,0.630581,2.718869,11.250585,9.487385,16.320041,1.135830,NaN,42.360050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83930,162446507,Apartment,2,2,1,0,0,175000,89,08242,...,0.198947,0.934865,0.147092,1.534107,1.277159,0.847909,1.080881,0.057810,NaN,86.939081
83931,162446510,Apartment,3,2,1,0,0,106000,70,08670,...,0.402399,0.497550,0.244767,4.058155,19.626584,1.259427,19.764990,0.510420,NaN,62.680003
83932,162446526,Apartment,4,1,0,0,0,125000,86,43001,...,0.062240,0.012217,0.303000,0.121583,0.788004,0.235520,0.806612,0.080356,NaN,99.209423
83933,162446537,Apartment,4,3,0,0,0,477000,170,08201,...,0.217367,0.144003,0.013965,0.864493,0.814499,0.468835,0.603903,0.140487,11.392745,95.232219
83934,162446552,Apartment,3,2,1,0,0,385000,76,08850,...,0.153583,0.284157,0.383711,0.481359,0.668264,0.578408,0.601193,0.206935,5.357419,85.902056

In [12]:
result_df.columns

Index(['ID', 'Caracteristicas', 'Habitaciones', 'Aseos', 'Terraza', 'Piscina',
       'Garaje', 'Precio', 'Metros', 'CodigoPostal', 'Latitud', 'Longitud',
       'NPRO', 'NCA', 'NMUN', 'PrecioM2', 'CUDIS', 'RentaBrutaHogar',
       'RentaBrutaPersona', 'poblacion_2023', '%_servicios', 'densidad_inm_m2',
       '%_agricultura', '%_industria', '%_construccion', 'University_Distance',
       'School_Distance', 'Kindergarten_Distance', 'City Center_Distance',
       'Supermarket_Distance', 'Bakery_Distance', 'Hospital_Distance',
       'Pharmacy_Distance', 'Restaurant_Distance', 'Café_Distance',
       'Park_Distance', 'Gym_Distance', 'Movie Theater_Distance',
       'Theater_Distance', 'Shopping Mall_Distance', 'Bus Stop_Distance',
       'Metro Station_Distance', 'Score'],
      dtype='object')

In [13]:
result_df = result_df.drop_duplicates(subset="ID", keep="first")
result_df.shape

(68228, 43)

In [14]:
result_df.drop_duplicates().shape

(68228, 43)

In [15]:
result_df.to_csv("output/enhanced_microscore.csv", index=False)

In [16]:
def porcentaje_nulos(df):

    # Calcular el porcentaje de nulos
    porcentaje = (df.isnull().sum() / len(df)) * 100

    resultado = pd.DataFrame({
        'Columna': porcentaje.index,
        '% Nulos': porcentaje.values
    }).sort_values(by='% Nulos', ascending=False).reset_index(drop=True)
    
    return resultado

In [17]:
porcentaje_nulos(result_df)

                   Columna    % Nulos
0   Metro Station_Distance  55.931582
1     City Center_Distance  16.661781
2      University_Distance   4.304684
3   Shopping Mall_Distance   0.986399
4         Theater_Distance   0.469016
5             Gym_Distance   0.319517
6        Hospital_Distance   0.030779
7   Movie Theater_Distance   0.014657
8     Supermarket_Distance   0.010260
9            Park_Distance   0.005863
10   Kindergarten_Distance   0.005863
11           Café_Distance   0.005863
12         School_Distance   0.002931
13     Restaurant_Distance   0.002931
14         Bakery_Distance   0.001466
15       Bus Stop_Distance   0.001466
16          %_construccion   0.000000
17                      ID   0.000000
18       Pharmacy_Distance   0.000000
19           %_agricultura   0.000000
20             %_industria   0.000000
21         densidad_inm_m2   0.000000
22         Caracteristicas   0.000000
23                 Latitud   0.000000
24            Habitaciones   0.000000
25                   Aseos   0.000000
26                 Terraza   0.000000
27                 Piscina   0.000000
28                  Garaje   0.000000
29                  Precio   0.000000
30                  Metros   0.000000
31            CodigoPostal   0.000000
32                Longitud   0.000000
33             %_servicios   0.000000
34                    NPRO   0.000000
35                     NCA   0.000000
36                    NMUN   0.000000
37                PrecioM2   0.000000
38                   CUDIS   0.000000
39         RentaBrutaHogar   0.000000
40       RentaBrutaPersona   0.000000
41          poblacion_2023   0.000000
42                   Score   0.000000